<section id="navbar" class="container grid-960">
    <code>
        <%= query %>
    </code>
<div class="columns">
    <div class="column centered col-8">
        <ul class="pagination">
        <% //use "total"
            var prev = pageNumber - 1,
            query = query || '';
            //we would want to take into accoutn search...
            //document.location.search = kvp.join('&');
            var url = '?' + (query.replace(/&?page=\d/, '').lenght ? query.replace(/&?page=\d/, '') + '&page=': 'page=');
            var prevClass = prev === 0 ? 'disabled' : '';
        %>
            <li class="page-item <%= prevClass%>">
                <a href="<%= url %><%= prev %>">
                    Previous
                </a>
            </li>

        <%
            var min = 5,
                max = 10;

            if(count > 10){
                for(var i = 1; i <= 5; i++){%>
                    <% if(i === pageNumber){%>
                        <li class="page-item active">
                            <a href="<%= url %><%= i %>"><%= i %></a>
                        </li>
                    <%} else { %>
                        <li class="page-item">
                            <a href="<%= url %><%= i %>"><%= i %></a>
                        </li>
                    <%}%>
                <%}%>

                <li class="page-item">
                    <span>...</span>
                </li>

                <%for(var i = count - 3; i <= count; i++){%>
                    <% if(i === pageNumber){%>
                            <li class="page-item active"><%= i %></li>
                    <%} else { %>
                        <li class="page-item">
                            <a href="<%= url %><%= i %>"><%= i %></a>
                        </li>
                    <%}%>
                <%}%>
            <%} else {%>
                <%for(var i = 1; i <= count; i++){%>
                    <% if(i === pageNumber){%>
                            <li class="page-item active"><%= i %></li>
                    <%} else { %>
                        <li class="page-item">
                            <a href="<%= url %><%= i %>"<%= i %></a>
                        </li>
                    <%}%>
                <%}%>
            <%}%>

        <% var next = pageNumber + 1,
                nextClass = next <= count ? '' : 'disabled';%>
            <li class="page-item <%=nextClass%>">
                <a href="<%= url %><%= next %>">Next</a>
            </li>
    </ul>
</div>
</div>
</section>
